<div class="row align-items-center">
  <div class="col-md-8 col-sm-12">
    <h1 class="mb-4">Category Configuration</h1>
  </div>
  <div class="col-md-4 col-sm-12 text-md-end text-sm-start mt-2 mt-md-0 mb-3">
    <button mat-flat-button extended (click)="addNewCategory()">
      <mat-icon>add</mat-icon>
      Add New Category
    </button>
  </div>
</div>

<app-search-bar
  [searchBarPlaceholder]="'Search categories here...'"
  [sortByOptions]="sortByOptions"
  [(searchTerm)]="searchTerm"
  [(sortBy)]="sortBy"
  [(sortOrder)]="sortOrder"
  (searchTermChange)="getSearchTerm($event)"
  (sortByChange)="getSortBy($event)"
  (sortOrderChange)="getSortOrder($event)"
></app-search-bar>

<app-table
  [cellHeaders]="cellHeaders"
  [dataSource]="dataSource"
  [columnsToBeDisplayed]="columnsToBeDisplayed"
  [allowActions]="true"
  [allowMultiSelect]="true"
  [allowBulkActions]="true"
  (view)="viewCategory($event)"
  (edit)="editCategory($event)"
  (activate)="activateCategories($event)"
  (deactivate)="deactivateCategories($event)"
  (delete)="deleteCategories($event)"
  (bulkActivate)="activateCategories($event)"
  (bulkDeactivate)="deactivateCategories($event)"
  (bulkDelete)="deleteCategories($event)"
></app-table>

<mat-paginator
  *ngIf="!(dataSource.loading$ | async)"
  [length]="dataSource.totalCount"
  [pageIndex]="page - 1"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageChanged($event)"
></mat-paginator>
