<nav>
  <ul>
    <li>
      <span class="text-center" mat-button routerLink="">
        <!-- <img class="logo" src="/logo/logo-3.png" alt="Logo" /> -->
        <h2 class="app-name">User Forge</h2>
      </span>
    </li>
    <br />
    @for (item of menuItems; track $index; let first = $first) {
    <li>
      <a
        (click)="menuItemClicked()"
        mat-button
        routerLink="{{ item.routerLink }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="first ? { exact: true } : { exact: false }"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </li>
    }
    <mat-divider></mat-divider>
    @if (auth.currentUserSig()) {
    <li>
      <a mat-button routerLinkActive="active" (click)="onLogout()"
        ><mat-icon>logout</mat-icon> <span>Sign Out</span>
      </a>
    </li>
    }@else {
    <li>
      <a
        mat-button
        routerLink="account/login"
        routerLinkActive="active"
        (click)="menuItemClicked()"
        ><mat-icon>login</mat-icon> <span>Sign In</span>
      </a>
    </li>
    }
  </ul>
</nav>
