@import "../../../theme/color-types.scss";
:host {
  display: flex;
}

span {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.inline-icon {
  margin-right: 1rem;
}
