ul {
  text-decoration: none;
  padding-left: 0;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: 0;
}

.success {
  color: var(--sys-primary-container);
  background-color: var(--sys-on-primary-container);
}

.info {
  color: var(--sys-tertiary-container);
  background-color: var(--sys-on-tertiary-container);
}

.warning {
  color: var(--sys-secondary-container);
  background-color: var(--sys-on-secondary-container);
}

.danger {
  color: var(--sys-error-container);
  background-color: var(--sys-on-error-container);
}

.success-text {
  color: var(--sys-primary);
}

.info-text {
  color: var(--sys-tertiary);
}

.warning-text {
  color: var(--sys-secondary);
}

.danger-text {
  color: var(--sys-error);
}
