.contained {
  display: inline-block;
  border: 1px solid var(--sys-outline-variant);
  padding: 2rem;
  border-radius: var(--mdc-outlined-card-container-shape);
}
h3 {
  margin: 0;
}

.mat-column-select {
  overflow: initial;
}

.success {
  color: var(--sys-on-primary);
  background-color: var(--sys-primary);
}

.info {
  color: var(--sys-on-tertiary);
  background-color: var(--sys-tertiary);
}

.warning {
  color: var(--sys-on-secondary);
  background-color: var(--sys-secondary);
}

.danger {
  color: var(--sys-on-error);
  background-color: var(--sys-error);
}

.success-text {
  color: var(--sys-primary);
}

.info-text {
  color: var(--sys-tertiary);
}

.warning-text {
  color: var(--sys-secondary);
}

.danger-text {
  color: var(--sys-error);
}

.table-responsive {
  // display: block;
  // width: 100%;
  // overflow-y: hidden;
  // overflow-x: auto;
  // -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  width: 100%;
}

mat-table {
  min-width: 800px;
}
// mat-table {
//   // width: 1200px;
//   // max-width: 1200px;
//   margin-bottom: 1rem;
//   display: table;
//   border-collapse: collapse;
//   margin: 0px;
// }

// mat-row,
// mat-header-row {
//   display: table-row;
// }
// mat-cell,
// mat-header-cell {
//   word-wrap: initial;
//   display: table-cell;
//   padding: 0px 10px;
//   line-break: unset;
//   width: auto;
//   white-space: nowrap;
//   overflow: hidden;
//   vertical-align: middle;
// }

.mat-column-select {
  overflow: initial;
  flex: 0 0 20px;
}
