<div class="text-center p-3">
  <div class="contained">
    <h3>Enter your email address below.</h3>
    <form [formGroup]="emailForm">
      <div>
        <div class="error-feedback">
          @if (hasDisplayableError('email')) {
          <ng-container [ngSwitch]="email?.errors | firstKey">
            <div *ngSwitchCase="'required'">
              Email is <strong>required.</strong>
            </div>

            <div *ngSwitchCase="'email'">
              Email is <strong>invalid.</strong>
            </div>
          </ng-container>
          }@else {
          <br />
          }
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            required
            maxlength="{{ emailMaxLength }}"
            formControlName="email"
          />
        </mat-form-field>
      </div>
    </form>

    <mat-divider class="my-3"></mat-divider>

    <button
      *ngIf="mode?.includes('resend-email-confirmation-link')"
      class="my-3"
      [disabled]="isRequestPending"
      mat-flat-button
      (click)="sendEmail()"
    >
      Resend Email Confirmation Link
    </button>
    <br />
    <button [disabled]="isRequestPending" mat-button (click)="cancel()">
      Cancel
    </button>
  </div>
</div>
