<mat-toolbar class="top-bar">
  <button
    class="m-1"
    mat-icon-button
    aria-label="Side menu toggle button"
    (click)="toggleSideNavbar()"
    matTooltip="Toggle side menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div [@fadeInOut]="sideNavbarOpened() ? 'out' : 'in'">
    <span>Transactly</span>
  </div>
  <span class="spacer"></span>
  <button
    class="m-1"
    mat-icon-button
    aria-label="User menu"
    [mat-menu-trigger-for]="userMenu"
    matTooltip="User menu"
  >
    <mat-icon>person</mat-icon>
  </button>

  <button
    class="m-1"
    (click)="darkMode.set(!darkMode())"
    mat-icon-button
    aria-label="Toggle theme"
    matTooltip="Toggle theme"
  >
    @if (darkMode()) {
    <mat-icon>light_mode</mat-icon>
    }@else {
    <mat-icon>dark_mode</mat-icon>
    }
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  @for (item of menuItems; track $index) {

  <button routerLink="{{ item.routerLink }}" mat-menu-item>
    <mat-icon>{{ item.icon }}</mat-icon>
    <span>{{ item.label }}</span>
  </button>
  }
</mat-menu>
