<mat-toolbar class="top-bar">
  <button
    class="m-1"
    mat-icon-button
    aria-label="Side menu toggle button"
    (click)="toggleSideNavbar()"
    matTooltip="Toggle side menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div [@fadeInOut]="sideNavbarOpened() ? 'out' : 'in'">
    <span><strong>User Forge</strong></span>
  </div>
  <span class="spacer"></span>

  <button
    class="mx-1"
    mat-icon-button
    aria-label="User menu"
    [mat-menu-trigger-for]="userMenu"
    matTooltip="User menu"
  >
    @if (userService.currentUserSig()) {
    <mat-icon class="user-display-text"
      ><strong>{{ userDisplayText() }}</strong></mat-icon
    >
    }@else {

    <mat-icon>person</mat-icon>
    }
  </button>

  <button
    class="m-1"
    (click)="darkMode.set(!darkMode())"
    mat-icon-button
    aria-label="Toggle theme"
    matTooltip="Toggle theme"
  >
    @if (darkMode()) {
    <mat-icon>light_mode</mat-icon>
    }@else {
    <mat-icon>dark_mode</mat-icon>
    }
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  @if (userService.currentUserSig()) {
  <button routerLink="user/user-profile" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>View profile</span>
  </button>
  } @if (!userService.currentUserSig()) {
  <button routerLink="user/login" mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Log in</span>
  </button>
  } @if (!userService.currentUserSig()) {
  <button routerLink="user/register" mat-menu-item>
    <mat-icon>person_add</mat-icon>
    <span>Create new account</span>
  </button>
  } @if (userService.currentUserSig()) {
  <button routerLink="user/user-settings" mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  } @if (userService.currentUserSig()) {
  <button (click)="onLogout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Log out</span>
  </button>
  }
</mat-menu>
