<mat-drawer-container class="h-100">
  <mat-drawer
    class="sidenav-bar w-auto"
    [mode]="sideNavBarMode()"
    [opened]="sideNavbarOpened()"
    (openedChange)="changeSideNavbarOpened($event)"
  >
    <app-sidenav
      class="m-2"
      (closeSidemenu)="sideNavbarOpened.set(false)"
    ></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-top-bar
      [sideNavbarOpened]="sideNavbarOpened()"
      (changeSideNavbarOpened)="changeSideNavbarOpened($event)"
    ></app-top-bar>
    <div class="d-flex flex-column spaced">
      <div class="flex-fill">
        <div class="container pb-2 w-75">
          <app-breadcrumb></app-breadcrumb>
        </div>

        <div class="container p-4 w-75">
          <router-outlet />
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
