<div class="d-flex justify-content-center">
  <div class="centered-md-container row d-flex justify-content-center">
    <div class="col-md-5 col-12">
      <p>Enter your new password.</p>
    </div>

    <div class="col-md-7 col-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <div class="error-feedback">
            @if (dataValidation.hasDisplayableError(form,'password',
            isSubmitted)) {
            <ng-container [ngSwitch]="password?.errors | firstKey">
              <div *ngSwitchCase="'required'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.required"
                  )
                }}
              </div>

              <div *ngSwitchCase="'minlength'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.minLength"
                  )
                }}
              </div>

              <div *ngSwitchCase="'maxlength'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.maxLength"
                  )
                }}
              </div>

              <div *ngSwitchCase="'requireDigit'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.requireDigit"
                  )
                }}
              </div>

              <div *ngSwitchCase="'requireLowercase'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.requireLowercase"
                  )
                }}
              </div>

              <div *ngSwitchCase="'requireUppercase'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.requireUppercase"
                  )
                }}
              </div>

              <div *ngSwitchCase="'requireNonAlphanumeric'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.requireNonAlphanumeric"
                  )
                }}
              </div>
            </ng-container>
            }@else {
            <br />
            }
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input
              required
              minlength="{{ passwordMinLength }}"
              matInput
              type="password"
              formControlName="password"
            />
          </mat-form-field>
        </div>

        <div>
          <div class="error-feedback">
            @if (dataValidation.hasDisplayableError(form,'confirmPassword',
            isSubmitted)) {
            <ng-container [ngSwitch]="confirmPassword?.errors | firstKey">
              <div *ngSwitchCase="'required'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.confirmPassword.required"
                  )
                }}
              </div>

              <div *ngSwitchCase="'passwordMismatch'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.confirmPassword.passwordMismatch"
                  )
                }}
              </div>
            </ng-container>
            }@else {
            <br />
            }
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              type="password"
              minlength="{{ passwordMinLength }}"
              maxlength="{{ passwordMaxLength }}"
              required
              formControlName="confirmPassword"
            />
          </mat-form-field>
        </div>

        <div
          class="d-flex flex-lg-row align-items-end justify-content-end mt-2 gap-3 flex-column-reverse"
        >
          <a [disabled]="isLoading" mat-button routerLink="/user/login"
            >Go to login page</a
          >
          <button [disabled]="isLoading" mat-flat-button type="submit">
            Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
