<h2 mat-dialog-title>Edit your details</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" readonly formControlName="email" />
      </mat-form-field>
    </div>
    <div>
      <div class="error-feedback">
        @if (dataValidation.hasDisplayableError(form, 'firstName', isSubmitted))
        {
        <ng-container [ngSwitch]="firstName?.errors | firstKey">
          <div *ngSwitchCase="'required'">
            {{
              messageService.getMassage(
                "user.validations.registration.firstName.required"
              )
            }}
          </div>

          <div *ngSwitchCase="'minlength'">
            {{
              messageService.getMassage(
                "user.validations.registration.firstName.minLength",
                { firstNameMinLnegth: firstNameMinLength.toString() }
              )
            }}
          </div>

          <div *ngSwitchCase="'maxlength'">
            {{
              messageService.getMassage(
                "user.validations.registration.firstName.maxLength",
                { firstNameMaxLnegth: firstNameMaxLength.toString() }
              )
            }}
          </div>
        </ng-container>
        }@else {
        <br />
        }
      </div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          required
          minlength="{{ firstNameMinLength }}"
          maxlength="{{ firstNameMaxLength }}"
          formControlName="firstName"
        />
      </mat-form-field>
    </div>

    <div>
      <div class="error-feedback">
        @if (dataValidation.hasDisplayableError(form, 'lastName', isSubmitted))
        {
        <ng-container [ngSwitch]="lastName?.errors | firstKey">
          <div *ngSwitchCase="'required'">
            {{
              messageService.getMassage(
                "user.validations.registration.lastName.required"
              )
            }}
          </div>

          <div *ngSwitchCase="'minlength'">
            {{
              messageService.getMassage(
                "user.validations.registration.lastName.minLength",
                { lastNameMinLnegth: lastNameMinLength.toString() }
              )
            }}
          </div>

          <div *ngSwitchCase="'maxlength'">
            {{
              messageService.getMassage(
                "user.validations.registration.lastName.maxLength",
                { lastNameMaxLnegth: lastNameMaxLength.toString() }
              )
            }}
          </div>
        </ng-container>
        }@else {
        <br />
        }
      </div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          required
          minlength="{{ lastNameMinLength }}"
          maxlength="{{ lastNameMaxLength }}"
          formControlName="lastName"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="error-feedback">
          @if (dataValidation.hasDisplayableError(form, 'phoneNumber',
          isSubmitted)) {
          <ng-container [ngSwitch]="phoneNumber?.errors | firstKey">
            <div *ngSwitchCase="'pattern'">
              {{
                messageService.getMassage(
                  "user.validations.registration.phoneNumber.invalid"
                )
              }}
            </div>
          </ng-container>
          }@else {
          <br />
          }
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" />
          <mat-hint>Format: +1234567890</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <div class="error-feedback">
          @if (dataValidation.hasDisplayableError(form, 'dateOfBirth',
          isSubmitted)) {
          <ng-container [ngSwitch]="dateOfBirth?.errors | firstKey">
            <div *ngSwitchCase="'invalidAge'">
              {{
                messageService.getMassage(
                  "user.validations.registration.dateOfBirth.invalidAge",
                  { minAge: minAge.toString() }
                )
              }}
            </div>
            <div *ngSwitchCase="'matDatepickerParse'">
              {{
                messageService.getMassage(
                  "user.validations.registration.dateOfBirth.invalidFormat"
                )
              }}
            </div>
          </ng-container>
          }@else {
          <br />
          }
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="dob" formControlName="dateOfBirth" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dob"
          ></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="mb-2">
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-flat-button [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
