<div class="d-flex justify-content-center">
  <div class="centered-md-container row d-flex justify-content-center">
    <div class="col-md-5 col-12">
      <h1>Sign in</h1>
      <p>
        Welcome back! <br />
        Please log in to your account.
      </p>
    </div>
    <div class="col-md-7 col-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <div class="error-feedback">
            @if (dataValidation.hasDisplayableError(form, 'email', isSubmitted))
            {
            <ng-container [ngSwitch]="email?.errors | firstKey">
              <div *ngSwitchCase="'required'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.email.required"
                  )
                }}
              </div>

              <div *ngSwitchCase="'email'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.email.invalid"
                  )
                }}
              </div>
            </ng-container>
            }@else {
            <br />
            }
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              required
              maxlength="{{ emailMaxLength }}"
              formControlName="email"
            />
          </mat-form-field>
        </div>

        <div>
          <div class="error-feedback">
            @if (dataValidation.hasDisplayableError(form,'password',
            isSubmitted)) {
            <ng-container [ngSwitch]="password?.errors | firstKey">
              <div *ngSwitchCase="'required'">
                {{
                  messageService.getMassage(
                    "user.validations.registration.password.required"
                  )
                }}
              </div>
            </ng-container>
            }@else {
            <br />
            }
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input
              required
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="d-flex flex-row align-items-start text-start">
          <a
            [disabled]="isRequestPending"
            mat-button
            routerLink="/user/send-email/forgot-password"
            >Forgot passsword?</a
          >
        </div>

        <div
          class="d-flex flex-lg-row align-items-end justify-content-end mt-2 gap-3 flex-column-reverse"
        >
          <a
            [disabled]="isRequestPending"
            mat-button
            routerLink="/user/registration"
            >Create account</a
          >
          <button [disabled]="isRequestPending" mat-flat-button type="submit">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
